:root {
  --main-color: #3b2a56;
  --nav-bg: #f1f1f3;
  --dark-color: #262626;
  --light-color: #ca13ab;
}

#intro-section {
  padding: 30px 0;
  background-color: #fafafa;
}


#footer {
  padding: 60px 0 0 0;
  background-color: #fafafa;
}

#form-section {
  padding: 50px 0;
  background-color: #f2f4f8;
}

h1 div {
  font-size: 35px;
  color: var(--main-color);
}

@media (max-width: 978px) {
  h1 div {
    font-size: 1.8rem !important;
  }

  #form-section {
    padding: 30px 0;
  }


}

label a {
  text-decoration-color: var(--main-color);
  color: #59595a;
}

.watch-btn {
  border: none;
  color: #ffffff;
  background: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 54px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
}

.watch-btn:hover {
  color: var(--main-color);
  background-color: var(--nav-bg);
  transform: translateX(-2px);
}

.demo-input-height {
  height: 50px;
  background-color: #FCFCFD;
  border: 1px solid #F1F1F3;
}

.incomplete-btn {
  border: none;
  color: #ffffff;
  background: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;

}

