<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="./styles/nav.css" />
    <link rel="stylesheet" href="./styles/demo.css" />
    <link rel="stylesheet" href="./styles/student-dashboard.css">

    <style>
     
    </style>
  </head>
  <body>
    <section
      class="announcement-bar d-flex justify-content-center text-white align-items-center"
    >
      <h6 class="mb-0">
        Free Courses ⭐ Sales Ends Soon, Get it Now
        <span><i class="bi bi-arrow-right ms-2"></i></span>
      </h6>
    </section>

    <nav>
      <div class="left-section">
        <div class="logo">
          <img src="./images/logo.png" alt="" />
        </div>

        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a class="active" href="courses.html">Courses</a></li>
          <li><a href="contact-us.html">Contact</a></li>
        </ul>
      </div>

      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <div class="dropdown">
          <div
            class="user-dropdown d-flex align-items-center"
            data-bs-toggle="dropdown"
          >
            <img src="./images/avatar.png" alt="User" />
            <div>
              <strong>John Doe</strong>
              <p class="text-muted m-0">Parent</p>
            </div>
            <i class="bi bi-chevron-down ms-2"></i>
          </div>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item text-danger" href="#">Logout</a></li>
          </ul>
        </div>

        <!-- <a class="sign-up active me-2" href="#form-section">Sign Up</a>
          <a class="login" href="login.html">Login</a> -->
        <li><a class="mobile-link active" href="#">Home</a></li>
        <li><a class="mobile-link" href="#">Courses</a></li>
        <li><a class="mobile-link" href="#">Contact</a></li>

        <!-- authenticated user -->
        <li><a class="dropdown-item mobile-link" href="#">Profile</a></li>
        <li><a class="dropdown-item mobile-link" href="#">Settings</a></li>
        <li>
          <a class="dropdown-item mobile-link text-danger" href="#">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- <img style="height: 100px; width: 100px; border-radius: 50%; border: 1px solid red;" src="./images/Image1.png" alt=""> -->

    <section id="form-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mb-5">
            <div
              class="d-flex flex-column flex-md-row justify-content-between px-5 pt-5 hero-wrapper"
            >
              <h3>
                <div>Hello Matilda,</div>
                <div>Embark on a Fun and Exciting</div>
                <div>Language Learning Adventure Today!</div>
              </h3>
              <img
                class="img-fluid"
                src="./images/dashboard-hero-img.png"
                alt=""
              />
            </div>
            <h5 class="pt-3 text-color text-center text-lg-start">
              Upcoming Class
            </h5>
            <div
              class="p-4 p d-flex flex-column flex-md-row justify-content-between align-items-md-start bg-white rounded"
            >
              <div class="d-flex flex-column flex-md-row">
                <img
                  class="upcoming-course-img"
                  src="./images/dashboard-course-img.png"
                  alt=""
                />
                <div class="ms-3">
                  <p class="text-color">
                    Learning Yorùbá for Children (Intro Class)
                  </p>
                  <button type="button" class="timer-btn">
                    <img src="./images/timer.png" alt="" /> 45 Minutes
                  </button>
                </div>
              </div>
              <div class="">
                <a class="join-btn" href="">Join Class</a>

                <h6 class="mb-0 pt-2">Time</h6>
                <p>12:00 WAT</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card p-4 border-0">
              <div class="text-center border-bottom">
                <h5 class="pt-2 text-color">Your Profile</h5>

                <img src="./images/profile-img.png" alt="" />
                <h5 class="pt-2 text-color">Adeniji Matilda</h5>
                <p class="text-muted">
                  Learning Yorùbá for Children (Intro Class)
                </p>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <h6 class="personal">Personal Information</h6>
                <p class="text-muted edit-text">Edit</p>
              </div>
              <div class="">
                <p><img src="./images/gender.png" alt="" /> Female</p>
              </div>
              <div class="">
                <p>
                  <img class="pb-2" src="./images/crown.png" alt="" /> December
                  29
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-9">
            <div
              class="rounded px-5 py-4 my-5 my-md-2"
              style="background-color: #ffffff"
            >
              <h4 class="border-bottom">
                <div>Resources & materials</div>
              </h4>
              <div class="row py-3">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card shadow-sm border-0 card-radius">
                    <img
                      src="./images/dashboard-card-img.png"
                      class="card-img-top pt-3 px-3"
                      alt="..."
                    />
                    <div class="card-body">
                      <div class="">
                        <button class="level-btn me-2">Beginner</button>
                        <button type="button" class="level-btn">
                          <img src="./images/timer.png" alt="" /> 45 Minutes
                        </button>
                      </div>
                      <div class="pt-2 pb-1">
                        Learning Yorùbá for Children (Intro Class)
                      </div>

                      <a class="mt-2 start-text" href="">Start Watching</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card shadow-sm border-0 card-radius">
                    <img
                      src="./images/dashboard-card-img.png"
                      class="card-img-top pt-3 px-3"
                      alt="..."
                    />
                    <div class="card-body">
                      <div class="">
                        <button class="level-btn me-2">Beginner</button>
                        <button type="button" class="level-btn">
                          <img src="./images/timer.png" alt="" /> 45 Minutes
                        </button>
                      </div>
                      <div class="pt-2 pb-1">
                        Learning Yorùbá for Children (Intro Class)
                      </div>

                      <a class="mt-2 start-text" href="">Start Watching</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                  <div class="card shadow-sm border-0 card-radius">
                    <img
                      src="./images/dashboard-card-img.png"
                      class="card-img-top pt-3 px-3"
                      alt="..."
                    />
                    <div class="card-body">
                      <div class="">
                        <button class="level-btn me-2">Beginner</button>
                        <button type="button" class="level-btn">
                          <img src="./images/timer.png" alt="" /> 45 Minutes
                        </button>
                      </div>
                      <div class="pt-2 pb-1">
                        Learning Yorùbá for Children (Intro Class)
                      </div>

                      <a class="mt-2 start-text" href="">Start Watching</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 my-md-2 ">
             <div class="px-4 rounded text-white w-100 d-flex flex-column align-items-center" style="background-color: #2F327D;">
              <p class="pt-3">- Support</p> 
              <h6 class="">Easy access to support if needed.</h6>
              <div class="flex justify-content-between">
                <button class="chat-btn">Chat us</button>
                <img src="./images/robot-img.png" alt="">

              </div>
          
             </div>
        
        </div>
      </div>
    </section>

     <footer id="footer" class="bg-light">
      <div class="container-lg">
        <div class="row gy-4">
          <div class="col-lg-6 text-center text-lg-start">
            <img class="img-fluid my-3" src="./images/logo.png" alt="Logo" />
            <p><i class="bi bi-envelope-fill me-2"></i>Info@fricalearn.com</p>
            <p><i class="bi bi-telephone-fill me-2"></i>+44 735 166 2748</p>
            <p>
              <i class="bi bi-geo-alt-fill me-2"></i>3a, High Street Gillingham
              Kent ME7 5AA
            </p>

            <h6 class="pt-4">Social Profiles</h6>
            <div
              class="d-flex justify-content-center justify-content-lg-start gap-3"
            >
              <a class="social-link" href="#"><i class="bi bi-facebook"></i></a>
              <a class="social-link" href="#"><i class="bi bi-twitter"></i></a>
              <a class="social-link" href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 quick-links text-center text-lg-start">
            <h6 class="mt-4">Quick Links</h6>
            <p><a href="#">About Us</a></p>
            <p><a href="course-yoruba.html">Yoruba Courses</a></p>
            <p><a href="course-igbo.html">Igbo Courses</a></p>
            <p><a href="course-hausa.html">Hausa Courses</a></p>
          </div>

          <div class="col-lg-3 legal-links text-center text-lg-start">
            <h6 class="mt-4">Legals</h6>
            <p><a href="#">Terms of Service</a></p>
            <p><a href="#">Frequently Asked Questions</a></p>
            <p><a href="#">Our Goals</a></p>
          </div>
        </div>

        <div class="text-center py-3 mt-4 border-top">
          © FricaLearn. All Rights Reserved.
        </div>
      </div>
    </footer> 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <script src="./scripts/index.js"></script>
  </body>
</html>
